#title {
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: xx-large;
}

div {
    box-sizing: border-box;
}

.main_container {
    position: relative;
    height: 600px;
    width: 1000px;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sub_container {
    float:left;
    width: 150px;
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container:hover .img-recto{
    display: block;
}

.sub_container:hover .img-verso{
    display: none;
}

.img-recto, .img-verso {
    width: 100%;
    border: 1px solid black; 
}

.img-recto {
    display: none;
}

